@inject HttpClient http
@inject NavigationManager navegador

@page "/usuario/registrar"
@layout AppLayout

<h2>Registrar usuario</h2>

@if (mensaje is string) {
    <blockquote class="is-warn">
        <p>@mensaje</p>
    </blockquote>
}

<form @onsubmit="Enviar" @onsubmit:preventDefault>
    <div class="grid xs-1 md-2 has-gap">
        <div class="field">
            <label>Tipo de documento</label>
            <select class="input" @bind="usuario.TipoDocumento" required>
                @foreach (TipoDocumento tipo in tiposDeDocumento) {
                    <option value="@tipo">@tipo</option>
                }
            </select>
        </div>

        <div class="field @(documentoYaExiste ? "is-invalid" : "")">
            <label>Documento</label>
            <input type="number" placeholder="###" class="input" @bind="usuario.Documento" @onfocusout="BuscarExistencia" required/>
            <small>
                @if (documentoYaExiste) {
                    <span>Documento ya ha sido registrado</span>
                }

                else {
                    <span>Número de documento de identidad</span>
                }
            </small>
        </div>

        <div class="field">
            <label>Nombre</label>
            <input type="text" placeholder="Ej. Andres" class="input" @bind="usuario.Nombre" required />
        </div>

        <div class="field">
            <label>Apellido</label>
            <input type="text" placeholder="Ej. Celis" class="input" @bind="usuario.Apellido" required />
        </div>

        <div class="field">
            <label>Correo</label>
            <input type="email" placeholder="correo@dominio.com" class="input" @bind="usuario.Correo" required />
        </div>

        <div class="field">
            <label>Teléfono</label>
            <div class="control is-attached">
                <span class="button is-static">+57</span>
                <input type="tel" placeholder="###" minlenght="7" class="input" @bind="usuario.Telefono" required />
            </div>
        </div>

        <div class="field">
            <label>Cargo</label>
            <select class="input" @bind="usuario.Cargo" required>
                <option value="0" disabled>Seleccionar...</option>

                @foreach (Cargo cargo in cargos) {
                    <option value="@cargo.Id">@(cargo.Nombre.ToCapitalize())</option>
                }
            </select>
        </div>
    </div>

    <div class="field">
        <div class="control is-grouped">
            @if (cargando) {
                <button class="is-prime has-loader" disabled>Registrar</button>
            }

            else {
                <button class="is-prime" disabled="@documentoYaExiste">Registrar</button>
            }

            <a href="/usuario" class="button is-outline">Cancelar</a>
        </div>
    </div>
</form>

@code {
    Cargo[] cargos { get; set; } = new Cargo[0];
    Usuario usuario { get; set; } = new Usuario();

    Array tiposDeDocumento = Enum.GetValues(typeof(TipoDocumento));

    bool cargando = false;
    bool documentoYaExiste = false;
    string mensaje;

    protected override async Task OnInitializedAsync() {
        cargos = await http.GetFromJsonAsync<Cargo[]>("/api/cargo");
    }

    async Task Enviar() {
        cargando = true;

        try {
            HttpResponseMessage respuesta = await http.PostAsJsonAsync("/api/usuario", usuario);

            if (respuesta.IsSuccessStatusCode) {
                navegador.NavigateTo("/usuario");
            }

            else {
                if (respuesta.StatusCode == HttpStatusCode.Unauthorized) {
                    mensaje = "¿Porque estas en esta ruta sin no tienes autorización?";
                }

                else {
                    mensaje = "Hubo un error al insertar";
                }
            }
        }

        catch {
            mensaje = "Hubo un error al insertar";
        }

        finally {
            cargando = false;
        }
    }

    async Task BuscarExistencia() {
        try {
            HttpResponseMessage respuesta = await http.GetAsync($"/api/usuario/existe?documento={usuario.Documento}");
            documentoYaExiste = respuesta.IsSuccessStatusCode;
        }

        catch {
            documentoYaExiste = true;
        }
    }
}
